h1 {
    color:  rgb(63, 128, 63);
    text-align: center;
    font-size: larger;

}
h2 {
    text-align: center;
    font-size:xx-large;
    font-variant: small-caps;
}

h3 {
    text-align: center; font-size: x-large;
}

p  {
    text-align: center;
}

.text {
    text-align: left;
}

.link {
    color: rgb(88, 59, 116);
}

.linkfarbe {
    color: rgb(114, 112, 243); font-size: large;
}

.Autismus-und-Kunst {
    color: rgb(100, 102, 231); font-size: larger;
}

#Künstlerin {
    font-variant: small-caps;
}

p[class] {  
    text-align: left;
}

.p11 {
    text-align: center;
}

.Lebenslauf {
  
    font-size: x-large;
    font-variant: small-caps;
}

.Kontakt {
    font-variant: small-caps;
}

#Projekte {
    font-variant: small-caps;
}

#pp1 {
    text-align: left;
}

#pp2 {
    text-align: left;
}